.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height to center vertically */
  font-family: var(--font-primary);
  color: var(--color-black);
  background-color: var(--color-light-grey);
  padding: 10rem 40rem; 
  border-radius: 5rem;
}

.loading-text {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
}

.loading-text::after {
  content: '...';
  animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: var(--color-black);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow:
      .25em 0 0 var(--color-black),
      .5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow:
      .25em 0 0 var(--color-black),
      .5em 0 0 var(--color-black);
  }
}
