.loginModal {
  width: 450px;
  background:var(--color-white);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  text-align: center;
}

.loginHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green);
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  color: var(--color-white);
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-white);
}

.closeButton:hover {
  color: var(--color-grey);
}

.loginForm {
  padding: 20px;
}

.loginInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginButtons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.registerButton, .loginButton {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: 0 2px;
  padding: 5px 0;
}

.registerButton {
  background: var(--color-white);
  border: 2px solid var(--color-green);
  color: var(--color-green);
}

.loginButton {
  background: var(--color-green);
  color: var(--color-white);
}

.forgotPassword {
  color: var(--color-green);
  cursor: pointer;
}

.socialLogin {
  padding: 20px;
  border-top: 1px solid #ccc;
}

.socialLogin p {
  color: var(--color-grey);
}

.socialLogin p {
  margin: 10px 0;
}

.socialIcons a {
  margin: 0 10px;
}
