
.app, .card__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    width: 100%;
  }
  
  .card__wrapper {
    padding: 1rem;
    justify-content: center;
    
  }
  
  .card__wrapper__title {
    width: 100%;
  }


.filter {
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
}


.filter__label {
  margin-bottom: 10px;
  font-size: 16px;
}


.filter__label input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.filter__label input:focus {
  outline: none;
  border-color: goldenrod; 
}


    